click==7.1.2
DAWG-Python==0.7.2
docopt==0.6.2
docx==0.2.4
Flask==1.1.2
Flask-Cors==3.0.10
gensim==4.0.1
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
lxml==4.6.3
MarkupSafe==1.1.1
navec==0.10.0
nltk==3.5
numpy==1.20.2
pandas==1.2.3
pathlib==1.0.1
Pillow==8.2.0
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
python-dateutil==2.8.1
python-docx==0.8.10
pytz==2021.1
razdel==0.5.0
regex==2021.4.4
scipy==1.6.2
six==1.15.0
slovnet==0.5.0
smart-open==5.0.0
tqdm==4.60.0
Werkzeug==1.0.1
